.hero{
    margin: -20px 90px;
    margin-top:100px;
}
.hero-text{

    font-size:80px;
    font-weight:500;
    color: #fff;
    line-height:100px;
}
.hero-explore{
    display: flex;
    align-items: center;
    gap:20px;
    width: fit-content;
    margin-top: 70px;
    border-radius:60px;
    padding: 5px 8px;
    padding-left: 30px;
    background-color:#fff;
    color: #262626;
    cursor: pointer;
}

.hero-explore p{
    color: #292929;
    font-size: 20px;
    font-weight: 500;
}
.hero-dot-play{
    margin-top:80px;
    display: flex;
    justify-content: space-between;
}
.hero-dots{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}
.hero-dot{
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius:7.5px;
    background-color: #fff;
    cursor: pointer;
}
.hero-dot.orange{
    background:orangered;
}
.hero-play{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero-play p{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}